$fuente: 'Open Sans', sans-serif;

$color-bgBlack: #f1eeee;
$color-hueso: #f1eeee;
$color-title-menu: #D73816;
$color-bordo: #A93226;
$color-hover: orange;
$color-texto-slider: #cbe5ff;
$color-red: red;
$gradiente-local: linear-gradient(rgba(169,50,38,0.8),rgba(169,50,38,0.8)),url("../multimedia/fondohistoria.jpeg");
$gradiente-imagenes: linear-gradient(rgba(169,50,38,0.8),rgba(169,50,38,0.8)),url("../multimedia/fmarcas.jpg");
$gradiente-imagenes-grey:linear-gradient(90deg, rgba(84,84,84,1) 1%, rgba(84,84,84,0.9009978991596639) 55%), url("../multimedia/living.jpeg");
$color-white: #fff;
$bg-form: #fdd;
$border-form: #990000;